
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section>
    <div class="about_item">
        <div class="about_item_icon">
            <img src="~/Images/about_icon1.png"/>
        </div>
        <div class="about_item_heading">
            Saving Lives
        </div>
        <div class="about_item_text">
            Our robust systems allow emergency services to quickly define which hospital to take you to and enables them to save lives by saving time.
        </div>
        <div class="about_readmore">
            Read More
        </div>
    </div>
    <div class="about_item">
        <div class="about_item_icon">
            <img src="~/Images/about_icon2.png" />
        </div>
        <div class="about_item_heading">
            Saving Lives
        </div>
        <div class="about_item_text">
            Our robust systems allow emergency services to quickly define which hospital to take you to and enables them to save lives by saving time.
        </div>
        <div class="about_readmore">
            Read More
        </div>
    </div>
    <div class="about_item">
        <div class="about_item_icon">
            <img src="~/Images/about_icon3.png" />
        </div>
        <div class="about_item_heading">
            Saving Lives
        </div>
        <div class="about_item_text">
            Our robust systems allow emergency services to quickly define which hospital to take you to and enables them to save lives by saving time.
        </div>
        <div class="about_readmore">
            Read More
        </div>
    </div>
    <div class="about_item_last">
        <div class="about_item_icon">
            <img src="~/Images/about_icon4.png" />
        </div>
        <div class="about_item_heading">
            Saving Lives
        </div>
        <div class="about_item_text">
            Our robust systems allow emergency services to quickly define which hospital to take you to and enables them to save lives by saving time.
        </div>
        <div class="about_readmore">
            Read More
        </div>
    </div>
</section>