@{
    ViewBag.Title = "Home Page";
}
<section class="home_content">
    <img alt="full screen background image" src="~/Images/home_bg.jpg" id="full-screen-background-image" />

    <div class="block" style="height: 600px;">
        <div class="centered">
            <div class="home_banner_content">
                <div class="banner_logo"></div>
                <div class="banner_button_container">
                    <div class="banner_button">
                        <div class="banner">How to Scan</div>
                    </div>
                    <div class="banner_button">
                        <div class="banner">Login</div>
                    </div>
                    <div class="banner_button_last">
                        <div class="banner">Register</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
